@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to  right, #2e584bd2, #146551);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 20px 20px 15px #26473d;
}

h1{
    color: #11614d;
    text-align: center;
    text-shadow: 1px 1px 2px #11614dc7;
}

h2{
    color: #068877;

}

p{
    text-align: justify;
}